---
const {data} = Astro.props;
import Button from "../components/Button.astro"
---


<article>
    <h5>{data.navn}</h5>
    <img src="" alt="">
    <p>TID: {data.tid}</p>
    <p>PRIS: DKK {data.pris},-</p>
    <a href={`behandlinger/${data.slug}`}>
    <Button variant="primary" size="desktop">BESTIL TID</Button>
</a>
</article>


<style>
    article{
        border: 3px solid var(--rød-100);
        border-radius: var(--border-radius-desktop);
    }
</style>